.header{
    height: 100vh;
    width: 100vw;
    
    position: relative;
    &__background{
        width: 100vw;
        z-index: -1;
        &>img{
            position: absolute;
            top: 0;
            width: 100%;
            filter: hue-rotate(340deg) grayscale(0.3) saturate(1.2);
            z-index: -1;
        }

    }
    &__menu{
        font-size: 250%;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        &>i{

        }
    }
    &__logo{
        height: 30vh;
        padding-right: 4rem;
        &>img{
            height: 100%;
        }
    }
    &__title{
        color: white;
        width: 70vw;
        position: absolute;
        bottom: 20%;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        font-family: "sitka banner";
        font-size: 3vw;
        text-shadow: rgba($color: #000000, $alpha: 0.3) -2px 5px;
    }
}